body,
html {
  margin: 0;
}

html {
  height: 100vh;
}

body {
  font-family: "Roboto", "sans-serif";
  font-size: 12pt;
  height: inherit;
  overflow: hidden;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

.flex-row {
  margin: -12px;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.flex-col {
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
}

.app-bar {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100vw;
  min-width: 500px;
  background-color: #c4c4c4;
  box-shadow: 0px 4px 10px 4px #aaa;
  position: relative;
  z-index: 10;
}

.app-title {
  font-size: 18pt;
  font-weight: 800 !important;
}

#start-btn {
  font-family: "Roboto", "sans-serif";
  font-size: 14pt;
  line-height: 2;
  min-width: 224px;
  box-shadow: 2px 2px 4px 0px #888;
}

.main {
  display: flex;
  /** full height - app bar */
  height: calc(100vh - 64px);
  width: 100vw;
  overflow: auto;
}

#test-btn {
  font-family: "Roboto", "sans-serif";
  font-size: 14pt;
  line-height: 2;
  min-width: 128px;
  box-shadow: 2px 2px 4px 0px #888;
}

#output > .flex-row:not(:first-child) {
  margin-top: 12px;
  flex-wrap: nowrap;
}

#pitch-value,
#rate-value {
  width: 32px;
  text-align: right;
}

.col1 {
  width: 64px;
}

.col2 {
  width: 96px;
}

.col3 {
  /** full width - outer padding - column padding - col1 - col2 */
  width: calc(100vw - 72px - 48px - 64px - 96px);
}
